<main>
  <div class="app-container">
    <h1>
      <span role="img" aria-label="Key Icon">
        🔑
      </span>
      &nbsp; Password Generator
    </h1>
    <h2>Length: {{ options.length }} </h2>
    <app-slider (onChange)="onLengthChange($event)"></app-slider>
    <h2>Characters:</h2>
    <div class="input-group">
      <app-checkbox [label]="'Lowercase (a-z)'" (onChange)="onAlphabetOptionChange($event, 'lowercase')">
      </app-checkbox>
    </div>
    <div class="input-group">
      <app-checkbox [label]="'Uppercase (A-Z)'" (onChange)="onAlphabetOptionChange($event, 'uppercase')"></app-checkbox>
    </div>
    <div class="input-group">
      <app-checkbox [label]="'Numbers (0-9)'" (onChange)="onAlphabetOptionChange($event, 'numbers')"></app-checkbox>
    </div>
    <div class="input-group">
      <app-checkbox [label]="'Symbols (*!@%_#)'" (onChange)="onAlphabetOptionChange($event, 'symbols')"></app-checkbox>
    </div>
    <button class="button" (click)="generatePassword()">Generate</button>
    <div *ngIf="generatedPassword" class="card">
      {{ generatedPassword }}
    </div>
  </div>
</main>
